@media screen and (max-width:600px) {
    main{
        width: 100%;
    }
    .left-to-right:first-child{
        height: 500px;
    }

    main .left-to-right article{
        border-radius: 20%;
        width: 275px;
        align-items: center;
        padding: 0 81px 0 90px;
    }

    main .left-to-right article button {
        display: none;
    }

    main .left-to-right article p, main .left-to-right article header {
        width: 130%;
    }

    main .left-to-right article header{
        text-align: unset;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    main .left-to-right article header h1{
        font-size:2.2rem;
    }

    main .left-to-right article header p{
        text-align: center;
        margin-block-start: 0;
    }



    main section:nth-child(2) button{
        display:none;
    }

    main section:nth-child(2) h1{
        margin-block-start: 0;
    }

    main section:nth-child(2), main section:nth-child(4){
        flex-direction: column;
        /* align-items: center; */
    }
    main section:nth-child(4) form {
        width: 80%;
        text-align: center;
    }

    main section:nth-child(4) form input, main section:nth-child(4) form textarea{
        width: 100%;
    }
    main section:nth-child(4) form input[type=submit]{
        width: 25%;
        align-self: center;
    }

}