body{
    background-color:rgb(238, 238, 238);
    display:flex;
    align-items:center;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container{
    display:flex;
    justify-content: space-around;
    width: 55vw;
}

img{
    background-color: black;
    border-radius: 4px;
    height: 15rem;
    object-fit: cover;
}

img:not(:nth-child(2)){
    width: 6rem;
}
