body{
    background-color: #EEE;
    padding:5rem;
    display:flex;
    flex-wrap:wrap;
}

header, main, aside, footer{
    padding:2rem;
    margin: 0.5rem;
    background-color:#FFF;
    border-radius:0.4rem;
    color:#000;
}

header, footer{
    flex-basis:100%;
}

main{
    flex:8 1 36rem;
}

aside{
    flex:2 1 20rem;
}

main, aside {
    height: 15rem;
}
